<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiKT.Properties.Settings.NinhDucHieu_qlsvConnectionString"
            connectionString="Data Source=Duchieu\hieubom;Initial Catalog=NinhDucHieu_qlsv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>